#centredbody {
    width: 80%;
    height: 80%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    animation-timing-function: linear;
    animation-name: fail;
    animation-duration: 0.25s;
    
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
#initialSetupDiv {
    width: 80%;
    height: 80%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
table {
    width: 100%;
}
label {
    width: 80%;
    font-size: 50px;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    width: 100%;
    border: 1px solid black;
}
button {
    width: 100%;
    border: 1px solid black;
    font-size: 30px;
}
#leaves {
    width: 100%;
}
#charFlashDiv {
    font-size: 500px;
}
i {
    font-size: 30px;
}
@media screen and (max-width: 1000px) {
    #centredbody {
        font-size: 500%;
    }
    button {
        font-size: larger;
        height: 5cm;
    }
    input {
        height: 2cm;
        font-size: xx-large;
    }
}
@keyframes fail {
    0% {
        margin-left: 10%;
    }
    25% {
        margin-left: 20%;
    }
    75% {
        margin-left: 0%;
    }
    100% {
        margin-left: 10%;
    }
}
@keyframes success {
    0% {
        margin-left: 10%;
    }
    100% {
        margin-left: 10%;
    }
}