#centredbody {
    width: 80%;
    height: 80%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
label {
    width: 80%;
    font-size: 50px;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    width: 100%;
    border: 1px solid black;
}
button {
    width: 100%;
    border: 1px solid black;
    font-size: 30px;
}
#leaves {
    width: 100%;
}
#charFlashDiv {
    font-size: 500px;
}
@media screen and (max-width: 1000px) {
    #centredbody {
        font-size: 500%;
    }
    button {
        font-size: larger;
        height: 5cm;
    }
    input {
        height: 2cm;
        font-size: xx-large;
    }
}